/* Loading the fonts files from GWF */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Fredoka+One|Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Patua+One);


/* On fait les resets standards */
html,
button,
input,
select,
textarea {
    color: #73626E;
}

* {
    box-sizing: border-box;
}

/* Tous les titres sont en Fredoka */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Patua One', cursive;
    font-weight: 400;
}

/* La balise d'italique sera normale, mais utilisera une police différente */
i {
    font-style: normal;
    font-family: 'Leckerli One', cursive;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #F7E4BE;
    color: #413E4A;
    font-family: 'Lato', sans-serif;
}

::-moz-selection {
    background: #F0B49E;
    text-shadow: none;
}

::selection {
    background: #F0B49E;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Lato', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid rgba(158, 72, 56, 1);
}

.footer-container {
    border-top: 20px solid rgba(158, 72, 56, 1);
}

.header-container,
.footer-container
{
    background: #D95B43;
}

.title {
    color: #F7E4BE;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: #F7E4BE;
    background: #413E4A;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
    margin-bottom: 0;
}

.main aside {
    color: #F7E4BE;
}

.footer-container footer {
    color: #F7E4BE;
    padding: 20px 0;

}

.footer-container
{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ===============
    PLACEHOLDERS
   =============== */
::-webkit-input-placeholder { color:#96857A; }
::-moz-placeholder { color:#96857A; } /* firefox 19+ */
:-ms-input-placeholder { color:#96857A; } /* ie */

/* ==========================================================================
                             Footer
   ========================================================================== */

.footer-container footer div
{
    width: 49%;
    display: inline-block;
    margin: 0;
}


.footer-container footer div[role="author"]
{
    text-align: left;
}

.footer-container footer div[role="git-info"]
{
    text-align: right;
}

.footer-container footer div p,
.footer-container footer div a
{
    color: rgba(158, 72, 56, 1);
}

.footer-container footer div a
{
    text-decoration: none;
    font-weight: bold;
}

.git-add {
    color: #3A4E16;
    font-weight: bold;
}

.git-del {
    color: #4D5355;
    font-weight: bold;
}

/* ==========================================================================
                             Spécifiques au site
   ========================================================================== */

.rotate:before
{
    animation: keyon 4s linear 0s infinite;
    width: 30px;
    height: 30px;
    transform-origin: center center;
    display: inline-block;
    content: "\e6a5";
    font-family: 'moon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-align: center;
    line-height: 30px;
    opacity: 0;
}

.rotate:after
{
    animation: lockon 4s linear 0s infinite;
    width: 30px;
    height: 30px;
    opacity: 0;
    font-size: 2rem;
    transform-origin: center center;
    display: inline-block;
    content: "\e6a6";
    font-family: 'moon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-align: center;
    line-height: 30px;
}

@keyframes keyon
{
    0% {transform: rotate(0deg); opacity: 0}
    1% {transform: rotate(220deg);opacity: 0}
    10% {transform: rotate(220deg); opacity: 0}
    30% {transform: translate(15px, 0px) rotate(220deg); opacity: 1}
    70% {transform: translate(15px, 0px) rotate(220deg); opacity: 1}
    90% {transform: translate(0px, 0px) rotate(220deg); opacity: 0}
    98% {transform: translate(0px, 0px) rotate(220deg); opacity: 0}
}

@keyframes lockon
{
    0% {transform:rotate(0deg); opacity: 0}
    20% {transform:rotate(0deg); opacity: 1}
    45% {transform:rotate(0deg);opacity: 1}
    50% {transform:rotate(10deg);opacity: 1}
    55% {transform:rotate(-10deg);opacity: 1}
    60% {transform:rotate(10deg);opacity: 1}
    65% {transform:rotate(-10deg);opacity: 1}
    70% {transform:rotate(0deg); opacity: 1}
    90% {transform:rotate(0deg); opacity: 0}
}

/* 
    ------------------------------------------------------------------------
                            Boutons et formulaires
    ------------------------------------------------------------------------                            
*/

input[type="text"],
button
{
    border: 2px solid transparent;
    box-shadow: none;
    outline: none;
    padding: 2px 5px;
}

label {
    margin-right: 5px;
}

input[type="text"]
{
    border: 2px solid #413E4A;
    background-color: transparent;
    color: #413E4A;
    border-radius: 3px;
}

button
{
    color: #413E4A;
    border: none;
    background-color: transparent;
    vertical-align: sub;
}

form > label,
form > input[type="text"]
{
    min-height: 30px;
    margin: 5px;
    min-width: 50%;
}

.btn {
    border: 2px solid #53777A;
    background-color: #53777A;
    color: #F7E4BE;
    border-radius: 3px;
    height: 30px;
    padding: 4px 6px 6px 6px;
    margin: 0px 5px;
    cursor: pointer;
}

.btn span[class^="icon-"]
{
    position: relative;
    top: 3px;
    padding-left: 5px;
}


/* 
    ------------------------------------------------------------------------
        Description latérale
    ------------------------------------------------------------------------                            
*/

div[role="description"]
{
    margin: 140px 20px 0px 0px;
    border-right: 1px solid #CABA9C;
    color: #413E4A;
    clear: both;
}

p {
    color: #887D72;
}

div[role="description"] p
{
    color: #887D72;
    line-height: 20px;
    margin: 0;
}

div[role="description"] a.btn
{
    width: 90%;
    text-align: center;
    margin-top: 20px;
    display: block;
    line-height: 15px;
    color: #53777A;
    background: transparent;
    border-width: 1px;
    cursor: default;
}
/* 
    ------------------------------------------------------------------------
        Labels en étoile
    ------------------------------------------------------------------------                            
*/

#form-result {
    display: none;
}

#form-competences fieldset {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#form-competences fieldset h1 {
    font-size: 3.6rem;
    line-height: 0px;
    vertical-align: top;
    max-height: 60px;
    margin-bottom: 5px;
}

#form-competences fieldset h4 {
    line-height: 0px;
}

#form-competences input {
    display: none;
    opacity: 0;
}

#form-competences div.radio,
#form-competences a.clear-all {
    width: 20px;
    height: 20px;
    display: inline-block;
}

#form-competences fieldset a.clear-all {
    color: #F7E4BE;
    position: relative;
    top: 2px;
}

#form-competences fieldset:hover a.clear-all {
    color: #887D72;
}

#form-competences div.radio input:checked + label[for$="low"]:before,
#form-competences div.radio input + label[for$="low"]:hover:before {
    color: rgb(255, 173, 0);
}

#form-competences div.radio input:checked + label[for$="med"]:before,
#form-competences div.radio input + label[for$="med"]:hover:before {
    color: #D95B43;
}

#form-competences div.radio input:checked + label[for$="high"]:before,
#form-competences div.radio input + label[for$="high"]:hover:before {
    color: #542437;
}

#form-competences fieldset div.radio input + label:before{
    width: 20px;
    height: 40px;
    display: inline-block;
    content: "\e679";
    font-family: 'moon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#form-competences fieldset div.radio input + label:before{
    color: #CEB789;
}

#form-competences fieldset:hover div.radio input + label:before{
    color: #413E4A;
}

#form-competences div.radio input:checked + label:before{
    content: "\e964";
    font-size: 1.2rem;
}



#form-competences .breaker {
    display: block;
}


/* 
    ------------------------------------------------------------------------
        Position du aside dans le header, pour avoir la bulle latérale
    ------------------------------------------------------------------------                            
*/

div[data-role="container"]
{
    min-height: 600px;
}
div[data-role="container"] > aside
{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

div[data-role="container"] > aside > div[role="icon"]
{
    float: right;
    width: 70px;
    height: 70px;
    margin: 10px 20px 10px 0px;
    padding: 0px;
    border: 5px solid #C02942;
    text-align: center;
    font-size: 50px;
    border-radius: 0px 10px 10px 10px;
    line-height: 67px;
    background: #C02942;
}

div[data-role="container"] > aside + article
{
    display: inline-block;
    width: 79%;
}

.loading,
.complete
{
    transition: all 0.4s;
}

.loading
{
    visibility: hidden;
    position: relative;
    bottom: -50px;
}

.complete
{
    visibility: visible;
    position: relative;
    bottom: 0px;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
    
    
}

@media only screen and (min-width: 768px) {


    /* ============
        WIDE: Menu
       ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    /* ============
        WIDE: Main
       ============ */

    /* pour une double page 
        .main article {
            float: left;
            width: 57%;
        }
    
        .main aside {
            float: right;
            width: 28%;
        }
    */

    /* pour une simple page */
    .main article {

    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
        Maximal Width
       =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}