/* Loading the fonts files from GWF */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Fredoka+One|Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Patua+One);


/* On fait les resets standards */
html,
button,
input,
select,
textarea {
    color: #73626E;
}

/* Tous les titres sont en Fredoka */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Patua One', cursive;
    font-weight: 400;
}

/* La balise d'italique sera normale, mais utilisera une police différente */
i {
    font-style: normal;
    font-family: 'Leckerli One', cursive;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #F7E4BE;
    color: #413E4A;
    font-family: 'Lato', sans-serif;
}

::-moz-selection {
    background: #F0B49E;
    text-shadow: none;
}

::selection {
    background: #F0B49E;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Lato', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #B38184;
}

.footer-container {
    border-top: 20px solid #B38184;
}

.header-container,
.footer-container,
.main aside {
    background: rgb(204, 158, 154);
}

.title {
    color: #F7E4BE;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: #F7E4BE;
    background: #413E4A;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #F7E4BE;
}

.footer-container footer {
    color: #F7E4BE;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ===============
    PLACEHOLDERS
   =============== */
::-webkit-input-placeholder { color:#96857A; }
::-moz-placeholder { color:#96857A; } /* firefox 19+ */
:-ms-input-placeholder { color:#96857A; } /* ie */

/* ==========================================================================
                             Spécifiques au site
   ========================================================================== */

/* 
    ------------------------------------------------------------------------
                            Boutons et formulaires
    ------------------------------------------------------------------------                            
*/

input[type="text"],
button
{
    border: 2px solid transparent;
    box-shadow: none;
    outline: none;
    padding: 2px 5px;
}

label {
    margin-right: 5px;
}

input[type="text"]
{
    border: 2px solid #413E4A;
    background-color: transparent;
    color: #413E4A;
    border-radius: 3px;
}

button
{
    color: #413E4A;
    border: none;
    background-color: transparent;
    vertical-align: sub;
}


/* 
    ------------------------------------------------------------------------
        Position du aside dans le header, pour avoir la bulle latérale
    ------------------------------------------------------------------------                            
*/
article > header > aside
{
    display: inline-block;
    width: 29%;
    max-width: 70px;
    height: 70px;
    margin: 10px 0px;
    padding: 0px;
    border: 5px solid rgb(204, 158, 154);
    text-align: center;
    font-size: 50px;
    border-radius: 0px 10px 10px 10px;
    line-height: 75px;
}

article > header > div[role="title"]
{
    display: inline-block;
    width: 70%;
    height: 70px;
    margin: 10px 0px 10px 20px;
    padding: 0px;
    line-height: 75px;
    vertical-align: super;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {


    /* ============
        WIDE: Menu
       ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    /* ============
        WIDE: Main
       ============ */

    /* pour une double page 
        .main article {
            float: left;
            width: 57%;
        }
    
        .main aside {
            float: right;
            width: 28%;
        }
    */

    /* pour une simple page */
    .main article {

    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
        Maximal Width
       =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}