<article class="drafter-article" id="aera">
    <header>
        <h1 role="title" class="unedited" contenteditable="true">Sans titre</h1>
    </header>
    <section class="main-drafter-aera">
        <textarea id="draft-aera" placeholder="Vous pouvez commencer a écrire ici..." focus></textarea>
    </section>
    <section id="marked-aera" class="drafter-render">
    </section>
    <footer></footer>
</article>
<nav role="draft-toolbar">
    <ul>
        <li class="separator">Paramètres<li>
        <li><button data-action="preview"><span class="icon-eye3"></span> <span class="legend">Aperçu</span></button></li>
        <li><button data-action="edit" style="display:none;"><span class="icon-pen"></span> <span class="legend">Edition</span></button></li>
        <li><button data-action="save"><span class="icon-save"></span> <span class="legend">Enregistrer</span></button></li>
        <li class="separator">Visibilité<li>
        <li class="visibility-label">Moi seulement<li>
        <li class="triple-toggle">
            {# visible seulement par le proprietaire #}
            <input type="radio" name="draft-access" value="0" id="draft-access--private" title="Moi seulement">
            <label for="draft-access--private"><span class="icon-lock"></span></label>
            <span class="link"></span>
            {# visible seulement par les membres #}
            <input type="radio" name="draft-access" value="1" id="draft-access--protected" title="Membres seulement">
            <label for="draft-access--protected"><span class="icon-marvin"></span></label>
            <span class="link"></span>
            {# visible au monde entier #}
            <input type="radio" name="draft-access" value="2" id="draft-access--public" title="Le monde entier">
            <label for="draft-access--public"><span class="icon-earth"></span></label>
        </li>
        {# <li><button data-action="fullscreen"><span class="icon-expand2"></span> <span class="legend">Full screen</span></button></li> #}
        <li class="separator">Derniers drafts<li>
        {% for draft in userdrafts %}
            <li class="user-draft" data-draft-load data-draft-id="{{ draft.draft_id }}">{{ draft.draft_name }}</li>
        {% endfor %}
    </ul>
</nav>

<script>
    Muffin.draft.init();
    Muffin.draft.watch();
</script>
