
{% block container %}
{#
    Si on a rentré un login non existant
#}

<aside>
    <div role="icon"><span class="icon-key"></span></div>
</aside>
<article data-content="new">
    <header>
        <div role="title">
            <h1 id="hello-name">Génial !</h1>
            <p>Maintenant, va vite consulter tes mails et rentre la passphrase dans le champ ci-dessous</p>
        </div>
    </header>
    <section>
        <p role="status"></p>
        <form id="form-passphrase">
            <input type="text" placeholder="Passphrase" id="input-passphrase" name="passphrase">
            <input type="hidden" id="input-login" value="<?php echo $_POST['login']; ?>" name="login">
            <button type="submit"><span class='icon-uniF488'></span></button>
        </form>
    </section>

    <script>
        $(document).ready(function()
        {
            NProgress.start();
            $.ajax({
                type: "GET",
                url: "Login/json/{{ login }}",
                success: function(e)
                {
                    NProgress.done();
                    if (e.toString() != "0")
                    {
                        e = $.parseJSON(e);
                        $("#hello-name").html("Génial, " + e.prenom + " !");
                    }
                }
            });
            $("#form-passphrase").submit(function(ev)
            {
                NProgress.start();
                $("#input-passphrase + button").html("<span class='icon-time'></span>");
                ev.preventDefault();
                console.log("Submit !");
                muffin.verifierCode($("#input-passphrase").val(), "{{ login }}");
                return false;
            });
        });
    </script>
</article>


{% endblock %}
