

    <article data-content="login">
        {% if redirect %}
            <script>
                if (window.Muffin == undefined)
                    window.muffin = {};
                window.Muffin.redirect = "{{redirect}}";
            </script>
            <div class="panel"><p><span class="icon-alert"></span> Vous devez etre connecté pour acceder à cette page.</p></div>
            {% else %}
            <div class="padtop"></div>
        {% endif %}

        <div class="col-left">
            <div class="simple-row"></div>
        </div>

        <div class="col-right">
            <header class="tra">
                <div role="title">
                    <h1><span class="icon-key"></span> Se connecter</h1>
                    <p>Utilisez vos identifiants Muffin ou 42</p>
                </div>
            </header>
            <section class="tra">
                <form class="form" id="form-login">
                    <div class="form-group">
                        <!-- <label for="input-login">Uid :</label> -->
                        <input type="text" placeholder="Votre uid" id="input-login" name="login" >
                    </div>

                    <div class="bretzel-separator"></div>

                    <div class="form-group">
                        <!-- <label for="input-passphrase">Votre Muffinpass :</label> -->
                        <input type="password" placeholder="Muffinpass" id="input-passphrase" name="passphrase" >
                    </div>
                    <h3>Ou</h3>
                    <div class="form-group">
                        <!-- <label for="input-passphrase">Votre mot de passe 42 :</label> -->
                        <input type="password" placeholder="Mot de passe 42 " id="input-pass42" name="pass42" >
                    </div>
                    <div class="bretzel-separator"></div>
                    <div class="form-group">
                    <button class="progress-button" data-style="shrink" data-horizontal>Connexion</button>
                    </div>
                </form>
            </section>
        </div>

        <script>
            $(document).ready(function()
            {
                $(".header-container").hide();
                $(".footer-container").hide();
                muffin.bindLoginEvents();
            });
        </script>
    </article>
    <footer class="login-footer">
        <a class="button" href="https://github.com/WeAreMuffin/Muffin"><span class="icon-github"></span> GitHub</a>
        <a class="button" href="https://www.facebook.com/wearemuffin"><span class="icon-facebook4"></span> Facebook</a>
        <a class="button" href="https://github.com/wearemuffin/Muffin/issues/new"><span class="icon-bug"></span> Bug ?</a>
        <a class="button" href="mailto:muffin@lambdaweb.fr"><span class="icon-envelop"></span> Contact</a>
    </footer>
