
<ul class="horizontal-buttons">
    <li id="reunions-button-add">
        <a class="btn" data-load-target="Reunion/create">
        	<span class="icon-bullhorn"></span><span class='side-legend'> Nouvelle réunion</span>
        </a>
    </li>
    <li id="reunions-button-add">
        <a class="btn" data-load-target="Reunion/mine">
        	<span class="icon-user"></span><span class='side-legend'> Mes réunions</span>
        </a>
    </li>
</ul>

<div class="loading">
	<h1>Réunions du jour</h1>
	{% if aujourdhui|length %}
		<ul class="liste-reunions">
			{% for reunion in aujourdhui %}
			    {% include 'reunion.list.twig' %}
			{% endfor %}
		</ul>
	{% else %}
		<p class="simple-text font-x-large">Aucune réunion aujourd'hui</p>
	{% endif %}

	<div class="bretzel-separator"></div>

	<h1>Réunions à venir</h1>
	{% if future|length %}
		<ul class="liste-reunions">
			{% for reunion in future %}
			    {% include 'reunion.list.twig' %}
			{% endfor %}
		</ul>
	{% else %}
		<p class="simple-text font-x-large">Aucune réunion à venir</p>
	{% endif %}

	<div class="bretzel-separator"></div>

	<h1>Réunions passées</h1>
	{% if past|length %}
		<ul class="liste-reunions">
			{% set is_past = {'is_past': true} %}
			{% for reunion in past %}
			    {% include 'reunion.list.twig' with is_past %}
			{% endfor %}
		</ul>
	{% else %}
		<p class="simple-text font-x-large">Aucune réunion passée</p>
	{% endif %}

	<script type="text/javascript">
	moment.lang('fr');
	$(".liste-reunions .date").each(function()
	{
		var ctn = $(this).text();
		$(this).html(moment(ctn).fromNow());
	});
	$(".liste-reunions .date-calendar").each(function()
	{
		var ctn = $(this).text();
		$(this).html(moment(ctn).calendar());
	});
	$("[data-action='participer-reunion']").click(function(){
		var id = $(this).attr("data-reunion");
		var btn = $(this);
		var ctnr = btn.parent().parent().parent().find(".reunion-count");
		$.get('Reunion/participer/' + id, function(e)
		{
			if (e == "1")
			{
				ctnr.html(parseInt(ctnr.html()) + 1);
				btn.html('<span class="icon-checkmark2"></span> Vous etes inscrit');
			}
			else if (e == "-1")
			{
				ctnr.html(parseInt(ctnr.html()) - 1);
				btn.html('<span class="icon-close"></span> Vous etes désinscrit');
			}
		});
	});
	$("[data-feedback]").click(function()
	{
		var value = $(this).attr("data-feedback");
		var id = $(this).attr("data-reunion");
		var elt = $(this).parent();
		$.get('Reunion/feedback/' + id + "/" + value, function(e)
		{
			elt.html("<span class='simple-text right'><span class='icon-checkmark3'></span> Merci !</span>");
		});
	});
	$("[data-toggle='tooltip']").tooltip();
	Muffin.bindAjaxEvents();
	</script>
</div>
