<div class="main-homepage">
	{# L'entete avec le nom et le rang #}
	{% include 'user.card.twig' %}

	{# Les dernieres nouveautees #}
	{% include 'user.news.twig' %}

  {# Les réunions qui pourraient interesser #}
  {% include 'user.reunions.twig' %}

  {# Les derniers articles #}
  {% include 'user.articles.twig' %}


	{# le recap des affaires en cours #}
	{% include 'user.affairs.twig' %}


	<!-- Tip Content -->
    <ol id="home-tour-content">
      <li data-class="main-homepage" data-text="Commencer" data-options="tipLocation:right">
        <h2>Hey !</h2>
        <p>Vous voici sur votre page d'accueil !</p>
        <p>Cette page vous récapitule les dernieres actualitées, les choses que vous vevez faire, ou encore votre classement dans la communauté.</p>
      </li>
      <li data-id="button-open-params" data-button="Suivant" data-options="tipLocation:bottom">
        <h2>Parametres</h2>
        <p>Cliquer sur la cuillere ouvre les parametres de votre compte. Vous pouvez, entre autres, y changer votre mot de passe.</p>
      </li>
      <li data-id="notif-aera" data-button="Suivant" data-options="tipLocation:bottom">
        <h2>Notifications</h2>
        <p>Les notifications que vous recevrez apparaitront ici.</p>
      </li>
      <li data-id="user-one" data-button="Suivant" data-options="tipLocation:top">
        <h2>Vous voila !</h2>
        <p>Vous pouvez ici voir, de gauche à droite, votre icone, votre nom et votre classement</p>
      </li>
      <li data-id="user-news" data-button="Suivant" data-options="tipLocation:right">
        <h2>Les dernières nouvelles</h2>
        <p>Ici sont affichées les dernières nouvelles, comme par exemple les changements de la dernière mise à jour, ou un évenement particulier.</p>
      </li>
      {% if demandes|length or propositions|length %}
      <li data-id="user-two" data-button="Renseigner ses compétences" data-options="tipLocation:right">
        <h2>Les Todo's</h2>
        <p>Ici sont affichées les affaires en cours, autrement dit les personnes que vous devez aider, ou qui veulent vous aider.</p>
      </li>
      {% else %}
      <li data-id="user-two" data-button="Terminé" data-options="tipLocation:right">
        <h2>Les Todo's</h2>
        <p>Evidemment, vous n'avez rien à faire pour le moment, parce que vous venez d'arriver. Il faut tout d'abord que vous renseignez vos compétences.</p>
      </li>
      {% endif %}
    </ol>

	<script>
	$(document).ready(function()
	{
	    var a = ["#user-two", "#user-drafts", "#user-news", "#user-reunions", "#user-one"];
	    var globalLang = moment();
	    moment.lang('fr');

	    Muffin.drawPop(a);
	    setTimeout(function(){
	        $(".user-card-title").addClass("elevated");
          Muffin.treatResize();
	    }, 800);

	    $(".raw-date").each(function()
	    {
	    	if ( $(this).html() == "")
	    		$(this).html( moment( $(this).attr("data-date") ).fromNow() );
	    });

	    Muffin.bindAjaxEvents();

	    {% if take_a_tour %}
	    	$("#modal-update-terms").modal();
	    {% endif %}

      var echangeRefresh = function()
    {

      $("a.btn.proposer").click(function()
      {
        var btn = $(this);
        btn.addClass("sleep");
        $.get('{{ href("Echanges","proposer") }}/'
          + $(this).attr("data-user") +'/'
          + $(this).attr("data-competence"), function(d)
          {
            btn.removeClass("sleep");
            if(d == "1")
            {
              btn.addClass("attente").html(" En attente ");
            }
            else
            {
              btn.html("<span class='icon-warning'></span> Erreur");
            }
          });
      });

      $("a.btn.accepter-aide").click(function()
      {
        var btn = $(this);
        btn.addClass("sleep");
        $.get('{{ href("Echanges","accepter") }}/'
          + $(this).attr("data-user") +'/'
          + $(this).attr("data-competence"), function(d)
          {
            btn.removeClass("sleep");
            if(d == "1")
            {
              btn.after('<a data-toggle="tooltip" title="Ca va mieux !" class="aide-nice" data-competence="'
                + btn.attr("data-competence") + '" data-user="'
                + btn.attr("data-user") + '"><span class="icon-uniF7D9"></span></a>'
                +'<a data-toggle="tooltip" title="C\'est toujours un peu flou !" class="aide-not-nice" data-competence="'
                + btn.attr("data-competence") + '" data-user="'
                + btn.attr("data-user") + '"><span class="icon-uniF7E0"></span></a>');
              btn.remove();
              echangeRefresh();
            }
            else
            {
              btn.html("<span class='icon-warning'></span> Erreur");
            }
          });
      });


      $("a.aide-nice").click(function()
      {
        var btn = $(this);
        btn.addClass("sleep");
        btn.html("...");
        $.get('{{ href("Echanges","bien") }}/'
          + $(this).attr("data-user") +'/'
          + $(this).attr("data-competence"), function(d)
          {
            btn.removeClass("sleep");
            btn.parent().html("Génial ! Bonne continuation !");
            $(".tooltip").remove();
          });
      });

      $("a.aide-not-nice").click(function()
      {
        var btn = $(this);
        btn.addClass("sleep");
        btn.html("...");
        $.get('{{ href("Echanges","pasbien") }}/'
          + $(this).attr("data-user") +'/'
          + $(this).attr("data-competence"), function(d)
          {
            btn.removeClass("sleep");
            btn.parent().html("Arf ! On va essayer de trouver quelqu'un d'autre !");
            $(".tooltip").remove();
          });
      });
    }
    echangeRefresh();
	});
  moment.lang('fr');
  $(".date").each(function()
  {
    var ctn = $(this).text();
    $(this).html(moment(ctn).fromNow());
  });
  $(".date-calendar").each(function()
  {
    var ctn = $(this).text();
    $(this).html(moment(ctn).calendar());
  });
	</script>

</div>
