{% block container %}
{% include 'user.index.modals.twig' %}
{% include 'user.index.header.twig' %}
{% include 'user.index.side-menu.twig' %}

<article data-role="grid">
	<section>
		<a href="#!"></a>
		<div data-role="form-container">

<style>
.visible.helpbox
{
	text-align: center;
}

.helpbox-counter
{
	display: inline-block;
}

.helpbox-send
{
	display: inline-block;
	cursor: pointer;
	color: #D95B43;
}

.helpbox.keywords.to_print
{
	background-color: pink !important;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}
</style>

			{% include 'user.index.me.twig' %}
		</div>
		<div id="form-result"></div>
	</section>


</article>

{% endblock %}
