{#
/*
 * Copyright 2013 lambda2.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 *
 * This file is part of the moon framework.
 *
 * (c) 2013 Lambdaweb - www.lambdaweb.fr
 *
 *
 * @author lambda2
 */

#}

<aside data-spy="affix" data-offset-top="400" class="side-menu">
    <ul role="side-menu">
        {% if webdata.session.muffin_id %}
            <li>
                <a class="btn" data-load-target="User/home"><span class="icon-muffin"></span><span class='side-legend'> Muffin</span></a>
            </li>
            <li>
                <a class="btn" data-load-target="User/me"><span class="icon-chef"></span><span class='side-legend'> Projets</span></a>
            </li>
            <li>
                <a class="btn" data-load-target="Echanges/index"><span class="icon-repeat"></span><span class='side-legend'> Échanges</span></a>
            </li>
            <li>
                <a class="btn" data-load-target="Reunion/index"><span class="icon-bubbles"></span><span class='side-legend'> Réunions</span></a>
            </li>
            <li>
                <a class="btn" data-load-target="Drafts/index" data-expand><span class="icon-news"></span><span class='side-legend'> Drafts</span></a>
            </li>
            <li class="separator"></li>
            <li>
                <a class="btn" data-load-target="Params/index"><span class="icon-nut"></span><span class='side-legend'> Paramètres</span></a>
            </li>
            <li>
                <a class="btn" data-load-target="Stats/index"><span class="icon-bars2"></span><span class='side-legend'> Stats</span></a>
            </li>
            <li class="separator"></li>
            <li>
                <a class="btn" data-load-target="About/index"><span class="icon-info3"></span><span class='side-legend'> À propos</span></a>
            </li>
        {% endif %}
        {#
        #}
    </ul>
    <div role="description">
    </div>
</aside>
