{% block container %}
{% include 'user.index.modals.twig' %}
{% include 'user.index.header.twig' %}
{% include 'user.index.side-menu.twig' %}

<style type="txt/css">
/*
.helpbox
{
	text-align: center;
}

.helpbox-counter
{
}

.helpbox-send
{
	color: #D95B43;
}
*/


</style>

<article data-role="grid">
	<section>
		<a href="#!"></a>
		<div data-role="form-container">
			{% include 'user.index.me.twig' %}
		</div>
		<div id="form-result"></div>
	</section>


</article>

{% endblock %}
