{#
/*
 * Copyright 2013 lambda2.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#}

<article role="header">
    <header>
        <div role="icon-container">
            <div role="icon"><span class="icon-{{ infos.user_icone }}"></span></div>
        </div>

        <div role="title">
            <h1>Bien le bonjour, Chef {{ nom }} !</h1>
            {# <p>Il ne te reste plus que à cocher tes compétences</p> #}
        </div>
    </header>
</article>
