        <div role="simple-row" id="p-user-one" class="loading p-user">
            <div class="p-picture" style="background-image: url(data:image/jpeg;base64,{{ infos.picture }})"> </div>
            <div class="p-title">
                <h1> {{ infos.prenom|lower }} {{ infos.nom|lower }} </h1>
            </div>
        </div>
