{#
{% extends 'base.twig' %}
#}

{% block container %}
	{% include 'user.index.modals.twig' %}
	{% include 'user.index.header.twig' %}
	{% include 'user.index.side-menu.twig' %}

	<article data-role="grid">
		<section>
			<a href="#!"></a>
			<div data-role="form-container">

				{% include 'user.home.twig' %}
			</div>
			<div id="form-result"></div>
		</section>
	</article>
	<script type="text/javascript">


            if (!_.contains(["", "/", "#", "#/Login/logout", "#/"], location.hash) && location.hash != undefined)
            {
                var url = location.hash;
                Muffin.goToUrl(url.slice(2), ((url.search("Drafts") > 0) ? "expanded" : undefined));
            }

	</script>
{% endblock %}
