<!-- Modal -->
<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="Informations" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="icon-th-small"></span>Quelques explications ?</h4>
      </div>
      <div class="modal-body">
        <h3><span class="icon-th-small"></span> Légende</h3>
            <table>
                <tr>
                    <td>
                        <span style="color: rgb(255, 173, 0);" class='icon-star3'></span>
                        <span class='icon-star'></span>
                        <span class='icon-star'></span>
                    </td>
                    <td> ─  </td>
                    <td> Débutant </td>
                </tr>
                <tr>
                    <td>
                        <span class='icon-star'></span>
                        <span style="color: #D95B43;" class='icon-star3'></span>
                        <span class='icon-star'></span>
                    </td>
                    <td> ─  </td>
                    <td> Intermédiaire </td>
                </tr>
                <tr>
                    <td>
                        <span class='icon-star'></span>
                        <span class='icon-star'></span>
                        <span style="color: #542437;" class='icon-star3'></span>
                    </td>
                    <td> ─  </td>
                    <td> Avancé </td>
                </tr>
                <tr>
                    <td>
                        <span class="icon-remove-circle"></span>
                    </td>
                    <td> ─  </td>
                    <td> Supprimer le niveau attribué. </td>
                </tr>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



