{% block container %}
{% include 'user.index.modals.twig' %}
{% include 'user.index.header.twig' %}
{% include 'user.index.side-menu.twig' %}

<article data-role="grid">
	<section>
		<a href="#!"></a>
		<div data-role="form-container">


<style>


.visible.helpbox {
	text-align: center;
}

.helpbox-counter
{
}

.helpbox-send
{
	cursor: pointer;
	color: #D95B43;
}


</style>




			{% include 'user.index.me.twig' %}
		</div>
		<div id="form-result"></div>
	</section>


</article>

{% endblock %}
