{% block container %}
	{% include 'user.index.modals.twig' %}
	{% include 'user.index.header.twig' %}
	{% include 'user.index.side-menu.twig' %}

	<article data-role="grid">
		<section>
			<a href="#!"></a>
			<div data-role="form-container">

				{% include 'user.home.twig' %}
			</div>
			<div id="form-result"></div>
		</section>
	</article>
{% endblock %}
