        <div style="max-height: 250px;" role="simple-row" id="p-user-stats" class="loading p-stat">
        </div>
        <script type="text/javascript">

$(function () {
        $('#p-user-stats').highcharts({
            chart: {
                type: 'spline',
                backgroundColor: 'rgba(0, 0, 0, 0)',
                height: 250
            },
            title: {
                text: ''
            },
            credits: {
                enabled: false
            },
            colors: [
               'rgba(192, 41, 66, 1)',
               'rgba(158, 72, 56, 0.5)'
            ],
            xAxis: {
                type: 'datetime',
                labels: {
                    overflow: 'justify'
                },
                offset: 0,
                lineColor: "rgba(0, 0, 0, 0.1)"
            },
            yAxis: {
                title: {
                    text: ''
                },
                tickInterval: 6,
                labels: {
                format: '{value} h'
                },
                min: 0,
                max: 24,
                minorGridLineWidth: 0,
                gridLineWidth: 0,
                alternateGridColor: null
            },
            tooltip: {
                valueSuffix: ' h'
            },
            plotOptions: {
                spline: {
                    lineWidth: 4,
                    states: {
                        hover: {
                            lineWidth: 5
                        }
                    },
                    marker: {
                        enabled: false
                    },
                    pointInterval: 3600000*24, // one hour
                    pointStart: Date.UTC(2014, 1, 20, 0, 0, 0)
                }
            },
            series: [{
                name: "{{ infos.prenom }}",
                data: [{{stats_time.duration|join(',')}}]

            }, {
                name: 'Promotion',
                data: [{{stats_time_avg|join(',')}}]
            }]
            ,
            navigation: {
                menuItemStyle: {
                    fontSize: '10px'
                }
            }
        });
    });
        </script>
