{% if drafts|length %}
    <div role="simple-row" id="p-user-drafts" class="loading">
        <h3 class="section-title"><span class="icon-news"></span> Drafts</h3>
        <ul role="drafts">
            {% for draft in drafts %}
                <li data-action="read-draft" data-id="{{ draft.draft_id }}">
                    {{ draft.draft_name }} · {# date #} <span class="raw-date" data-date="{{ draft.draft_date_c }}"></span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript">
    $("li[data-action='read-draft']").click(function()
    {
        var id = $(this).attr("data-id");
        Muffin.draft.read(id);
        Muffin.expandContainer();
    });
    </script>
{% else %}
    <div role="simple-row" id="p-user-drafts" class="loading">
        <h3 class="section-title"><span class="icon-news"></span> {{infos.prenom}} n'a pas encore publié de Draft.</h3>
    </div>
{% endif %}
